<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NHMP | Uniform | Shirts</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="css/responsive.css" rel="stylesheet"> 
</head>
<body>
		<div class="header-middle" style="padding:10px">
			<div class="container" style="padding:10px">
				<div class="row" style="padding:10px">
					<div class="col-sm-6" style="padding:10px">
						<div class="logo pull-left" style="padding:10px">
							<img src="images/shop/logo.jpg" alt=""  height="70px" width="70px">
						</div>
						<h3><title1><b>NATIONAL HIGHWAYS & MOTORWAY POLICE</b></title1></h3>
					</div>
					<div class="" style="padding:10px">
						<div class="shop-menu pull-right" style="padding:15px">
							<ul class="nav navbar-nav">
								<li><a href="editItems.html"class = "active" ><i class="fa fa-edit"></i> Edit Inventory</a></li>
								<li><a href="addItem.html"><i class="fa fa-plus"></i> Add Items</a></li>
								<li><a href="RC.html" ><i class="fa fa-book"></i> RC Register</a></li>
								<li><a href="Repair.html"><i class="fa fa-wrench"></i> Repair Stock</a></li>
								<li><a href="DeadStock.html"><i class="fa fa-times"></i> Dead Stock</a></li>
								<li><a href="LowStock.html"><i class="fa fa-bell"></i> Low Stock</a></li>
								<li><a href="IssuedItems.html"><i class="fa fa-clock-o"></i> Issue History </a></li>
								<li><a href="new.html"><i class="fa fa-user-plus"></i> Add User </a></li>
								<li><a href="IssueRequest.html"><i class="fa fa-users"></i> Issuance Requests</a></li>
								<li><a href="Report.html"><i class="fa fa-signal"></i> Generate Report</a></li>
								<li><a href="AdminLogin.html"><i class="fa fa-lock"></i> Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
<br/><br/>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2 style="color: #020f5b">Category</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Uniform
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Pants</a></li>
											<li><a href="">Shirts</a></li>
											<li><a href="">Outerwear</a></li>
											<li><a href="">Badges and Insignia</a></li>
											<li><a href="">Accessories </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Footwear
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="shoes.html">Boots</a></li>
											<li><a href="">Shoes, Oxfords</a></li>
											<li><a href="">Footwaer Accessories</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Gadgets And Arms</a></h4>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items">
					<h2 style="color: #020f5b" class="title text-center">Shirts</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/1.jpg" alt="" />
										 
										<p>Uniform Shirt </p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											 
											<p>Uniform Shirt</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart" onclick="EditItem()"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>

								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/2.jpg" alt="" />
										 
										<p>Tactical Shirt</p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											 
											<p>Tactical Shirt</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart" onclick="EditItem()"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>
								
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/3.jpg" alt="" />
										 
										<p>Graphical Shirt</p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											<p>Graphical Shirt</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart" onclick="EditItem()"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>
							
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/4.jpg" alt="" />
										 
										<p>Polo</p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											 
											<p>Polo</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart" onclick="EditItem()"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>
								 
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/5.jpg" alt="" />
										 
										<p>Concealed Carry</p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											 
											<p>Concealed Carry</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart" onclick="EditItem()"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>
								
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/7.jpg" alt="" />
										 
										<p>Combat Shirt</p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											 
											<p>Combat Shirt</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart" onclick="EditItem()"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>
								  
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/8.jpg" alt="" />
										 
										<p>Fire Resistant Shirt</p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											 
											<p>Fire Resistant Shirt</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>
								
								  
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/shirts/6.jpg" alt="" />
										 
										<p>Bike Patrol Shirt</p>
							
									</div>
									<div class="product-overlay" style="background-color: #020f5b">
										<div class="overlay-content">
											 
											<p>Bike Patrol Shirt</p>
											<p>Quantities: </p>
											<p>XS: 5</p>
											<p>S: 15</p>
											<p>M: 25</p>
											<p>L: 15</p>
											<p>XL: 15</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-edit"></i>Edit</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-times"></i>Delete</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>	
						
				</div>
			</div>
		</div>
	</section>
  
    <script src="js/jquery.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	<script>
	function EditItem(){
		prompt("New Quantities: (XS, S, M, L, XL)");
	
	}
	
	</script>
</body>
</html>