<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NHMP | Account</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet"> 
	<link href="css/request.css" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<header id="header">
		
		<div class="header-middle">
			<div class="container">
				<div class="row" style="padding:20px;">
					<div class="col-sm-6" style="padding:20px;">
						<div class="logo pull-left">
							<img src="images/shop/logo.jpg" alt=""  height="70px" width="70px">
						</div>
						<h3><title1><b>NATIONAL HIGHWAYS & MOTORWAY POLICE</b></title1></h3>
					</div>
					<div class="">
						<div class="shop-menu pull-right" style="padding:20px;">
							<ul class="nav navbar-nav">
								<li><a href="editItems.html" ><i class="fa fa-edit"></i> Edit Inventory</a></li>
								<li><a href="addItem.html"><i class="fa fa-plus"></i> Add Items</a></li>
								<li><a href="RC.html" ><i class="fa fa-book"></i> RC Register</a></li>
								<li><a href="Repair.html"><i class="fa fa-wrench"></i> Repair Stock</a></li>
								<li><a href="DeadStock.html"><i class="fa fa-times"></i> Dead Stock</a></li>
								<li><a href="LowStock.html"><i class="fa fa-bell"></i> Low Stock</a></li>
								<li><a href="IssuedItems.html"><i class="fa fa-clock-o"></i> Issue History </a></li>
								<li><a href="new.html"><i class="fa fa-user-plus"></i> Add User </a></li>
								<li><a href="IssueRequest.html" class="active"><i class="fa fa-users"></i> Issuance Requests</a></li>
								<li><a href="Report.html"><i class="fa fa-signal"></i> Generate Report</a></li>
								<li><a href="AdminLogin.html"><i class="fa fa-lock"></i> Logout</a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="color: #020f5b; font-size:large;text-align:center;"><h3><span><b> Issuance Requests </b></span></h2> 
		</div>
		<div name="format"
		<div class="container">
		<table name="Requests" style="left:20px;">
		<tr><td>
		 <img src="images/shop/profile.png" alt=""  height="70px" width="70px" style="border-radius:50%; border: 2px solid #020f5b">
		 <td><p> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <text style="color: #020f5b;">Name:</text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> John Doe</text> </b> <br> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #020f5b;">Order Number:</text> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <text style="color: #eb9c2e;">1001001</text> </b><br>
		 <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #020f5b;">Order Details:</text></b><br>
		 <ol>
		 <b><li><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uniform Shirt &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</text><text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 10</text><br></li>
		 <b><li><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tactical Shirt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</text><text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 10<br></text></li>
		 <b><li><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphical Shirt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> <text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 10<br></text></li>
		 </ol>
		 </p>
		 <td><a href="Profile.html" style="float:right"><button class="button button1"><b>View Profile</b></button></a>
		 <button class="button button2" onclick="alert('Items Issued!')"><b>Accept Request</b></button>
		 
		 <tr><td>
		 <img src="images/shop/profile.png" alt=""  height="70px" width="70px" style="border-radius:50%; border: 2px solid #020f5b">
		 <td><p> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <text style="color: #020f5b;">Name:</text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;">  Fatima Hasan</text> </b> <br> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #020f5b;">Order Number:</text> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <text style="color: #eb9c2e;">1740201</text> </b><br>
		 <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #020f5b;">Order Details:</text></b><br>
		 <ol>
		 <b><li><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uniform Shirt &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</text><text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 1</text><br></li>
		 <b><li><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tactical Shirt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</text><text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 5<br></text></li>
		 <b><li><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphical Shirt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> <text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 1<br></text></li>
		</ol>
		</p>
		 <td><a href="Profile.html" style="float:right"><button class="button button1"><b>View Profile</b></button></a>
		 <button class="button button2" onclick="alert('Items Issued!')"><b>Accept Request</b></button>
		
		<tr><td>
		 <img src="images/shop/profile.png" alt=""  height="70px" width="70px" style="border-radius:50%; border: 2px solid #020f5b">
		 <td><p> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <text style="color: #020f5b;">Name:</text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> Marie Doe</text> </b> <br> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #020f5b;">Order Number:</text> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <text style="color: #eb9c2e;">1111111</text> </b><br>
		 <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #020f5b;">Order Details:</text></b><br>
		 <ol>
		 <b><li><b><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uniform Shirt &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</text><text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 7</text><br></li>
		 <li><b><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tactical Shirt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</text><text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 2<br></text></li>
		 <li><b><text style="color: #020f5b;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Name:</text><text style="color: #eb9c2e;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphical Shirt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> <text style="color: #020f5b;">Quantity:</text>&nbsp;&nbsp;&nbsp;&nbsp;<text style="color: #eb9c2e;"> 3<br></text></li>
		 </ol>
		 </p>
		 <td><a href="Profile.html" style="float:right"><button class="button button1"><b>View Profile</b></button></a>
		 <button class="button button2" onclick="alert('Items Issued!')"><b>Accept Request</b></button>
		 
		 </table>
		 </div>
	</header>
</body>