<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NHMP  | Uniform | Pants</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet"> 
</head>

<body>
		<div class="header-middle">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="logo pull-left">
							<img src="images/shop/logo.jpg" alt=""  height="70px" width="70px">
						</div>
						<h3><title1><b>NATIONAL HIGHWAYS & MOTORWAY POLICE</b></title1></h3>
					</div>
					<div class="col-sm-6">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="shirts.html" class="active"><i class="fa fa-shopping-cart"></i> Inventory</a></li>
								<li><a href="account.html"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="cart.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="index.html"><i class="fa fa-lock"></i> Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
<br/><br/>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Uniform
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="pants.html">Pants</a></li>
											<li><a href="shirts.html">Shirts</a></li>
											<li><a href="">Outerwear</a></li>
											<li><a href="">Badges and Insignia</a></li>
											<li><a href="">Accessories </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Footwear
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="shoes.html">Boots</a></li>
											<li><a href="">Shoes, Oxfords</a></li>
											<li><a href="">Footwaer Accessories</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Gadgets And ArM</a></h4>
								</div>
							</div>
						</div>	

					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_iteM">
					<h2 class="title text-center">Pants</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/pants/1.jpg" alt="" />
										 
										<p>Tactical Pants</p>
							
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											 
											<p>Tactical Pants</p>

											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Select</a>
										</div>
									</div>
								</div>
								<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<a href="#" class="btn btn-default"></i>XS</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> S</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>M</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> L</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>XL</a>&nbsp;&nbsp;&nbsp;
								</ul>
							</div>
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/pants/2.jpg" alt="" />
										 
										<p>EMS Pants</p>
							
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											 
											<p>EMS Pants</p>

											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Select</a>
										</div>
									</div>
								</div>

								<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<a href="#" class="btn btn-default"></i>XS</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> S</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>M</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> L</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>XL</a>&nbsp;&nbsp;&nbsp;
								</ul>
							</div>
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/pants/3.jpg" alt="" />
										 
										<p>Uniform Pants</p>
							
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											 
											<p>Uniform Pants</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Select</a>
										</div>
									</div>
								</div>
								<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<a href="#" class="btn btn-default"></i>XS</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> S</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>M</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> L</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>XL</a>&nbsp;&nbsp;&nbsp;
								</ul>
							</div>
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/pants/4.jpg" alt="" />
										 
										<p>Bike Patrol Pants</p>
							
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											 
											<p>Bike Patrol Pants</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Select</a>
										</div>
									</div>
								</div>
								<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<a href="#" class="btn btn-default"></i>XS</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> S</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>M</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> L</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>XL</a>&nbsp;&nbsp;&nbsp;
								</ul>
							</div>
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/pants/5.jpg" alt="" />
										 
										<p>Combat Pants</p>
							
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											 
											<p>Combat Pants</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Select</a>
										</div>
									</div>
								</div>
								<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<a href="#" class="btn btn-default"></i>XS</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> S</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>M</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> L</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>XL</a>&nbsp;&nbsp;&nbsp;
								</ul>
								</div>
								  
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/pants/6.jpg" alt="" />
										 
										<p>Fire Resistant Pants</p>
							
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											 
											<p>Fire Resistant Pants</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Select</a>
										</div>
									</div>
								</div>
								<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<a href="#" class="btn btn-default"></i>XS</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> S</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>M</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> L</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>XL</a>&nbsp;&nbsp;&nbsp;
								</ul>
								</div>
								  
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/pants/7.jpg" alt="" />
										 
										<p>Tactical Jeans</p>
							
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											 
											<p>Tactical Jeans</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Select</a>
										</div>
									</div>
								</div>
								<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<a href="#" class="btn btn-default"></i>XS</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> S</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>M</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i> L</a>&nbsp;&nbsp;&nbsp;
									<a href="#" class="btn btn-default"></i>XL</a>&nbsp;&nbsp;&nbsp;
								</ul>
								  
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>
  
    <script src="js/jquery.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>